@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

button {
    display: block;
    margin: 40% auto;
    font-size: 14px;
    font-family: 'Poppins', 'sans-serif';
    padding: 1rem;
    transition: .3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .20);
    background-color: #262626;
    color: #fff;
    border-radius: .2rem;
    border-style: none;
    cursor: pointer;
}

